# Initialization

In [1]:
import arcpy
import pandas as pd
import numpy as np
import os
from arcgis.gis import *
gis = GIS()

In [14]:
dirRoot         = r"E:\GitHub\Housing-Suitability"
dirData         = os.path.join(dirRoot,'data'        )
dirIntermediate = os.path.join(dirRoot,'intermediate')
dirResults      = os.path.join(dirRoot,'results'     )

strGDB = os.path.join(dirResults, "HousingSuitability.gdb")

strCentersIn  = os.path.join(dirData,r"Wasatch_Choice_2050_Centers_(Vision_Map)\WC2050Centers.shp")
strCentersOut = os.path.join(strGDB ,r"Centers")
strCentersOut_MC = os.path.join(strGDB ,r"MetropolitanCenters")
strCentersOut_UC = os.path.join(strGDB ,r"UrbanCenters")
strCentersOut_CC = os.path.join(strGDB ,r"CityCenters")
strCentersOut_NC = os.path.join(strGDB ,r"NeighborhoodCenters")

strSchoolsIn         = os.path.join(dirData,r"Utah_Schools__from_AGRC_-shp\Schools.dbf")
strSchoolsOut_RegPub = os.path.join(strGDB ,r"SchoolsRegPublic")
strSchoolsOut_HighEd = os.path.join(strGDB ,r"SchoolsHigherEd")

strATLinesIn  = os.path.join(dirData,r"Active_Transportation_Line_Projects_(2019-2050_RTP)\AT_lines.shp")
strATLinesOut = os.path.join(strGDB ,r"ActiveTransportationFacilities")

strTransitIn_Stops   = os.path.join(dirData,r"UTA_Stops_and_Most_Recent_Ridership\UTA_Stops_and_Most_Recent_Ridership.shp")
strTransitIn_830X    = os.path.join(dirData,r"UTA_Stops_and_Most_Recent_Ridership\UTA_Stops_and_Most_Recent_Ridership_830X.shp")
strTransitIn_BRT     = os.path.join(dirData,r"NewTransit.gdb\BRT_Stops")
strTransitIn_LRT     = os.path.join(dirData,r"NewTransit.gdb\LightRail_Stations")
strTransitIn_CRT     = os.path.join(dirData,r"NewTransit.gdb\CommuterRail_Stations")
strTransitOut_Lcl    = os.path.join(strGDB, r"LocalBusStops")
strTransitOut_BrtCur = os.path.join(strGDB, r"BRTStops")
strTransitOut_BrtFut = os.path.join(strGDB, r"BRTStops_Future")
strTransitOut_LrtCur = os.path.join(strGDB, r"LRTStops")
strTransitOut_LrtFut = os.path.join(strGDB, r"LRTStops_Future")
strTransitOut_CrtCur = os.path.join(strGDB, r"CRTStops")
strTransitOut_CrtFut = os.path.join(strGDB, r"CRTStops_Future")

strInterchangesIn_Cur  = os.path.join(dirData, r"Utah_Roads_Freeway_Exits\Roads_FreewayExits.shp")
strInterchangesIn_Fut  = os.path.join(dirData, r"Roadway_Point_Projects_(2019-2050_RTP)\Roadway_points.shp")
strInterchangesOut_Cur = os.path.join(strGDB, r"Interchanges")
strInterchangesOut_Fut = os.path.join(strGDB, r"Interchanges_Future")

strRoadsIn = os.path.join(dirData, r"UtahRoadsNetworkAnalysis_gdb\UtahRoadsNetworkAnalysis.gdb\Roads")

strATCycleTracksOut_Cur = os.path.join(strGDB, r"ATCycleTracks")
strATCycleTracksOut_Fut = os.path.join(strGDB, r"ATCycleTracks_Future")

strTrailsAndPathwaysIn = os.path.join(dirData, r"Utah_Trails_and_Pathways\TrailsAndPathways.shp")
strPathsOut_Cur        = os.path.join(strGDB, r"ATPaths")
strPathsOut_Fut        = os.path.join(strGDB, r"ATPaths_Future")

strGroceryIn           = os.path.join(dirData, r"Utah_Grocery_And_Food_Stores__UDAF_-shp\Utah_Grocery_And_Food_Stores__UDAF_.shp")
strHealthCareIn        = os.path.join(dirData, r"Utah_Health_Care_Facilities\HealthCareFacilities.shp")
strParkAccessibilityIn = os.path.join(dirData, r"Park_Accessibility__10_Minute_Walk-shp\WalkAccesstoParks_10Min_Polygons.shp")

strGroceryOut           = os.path.join(strGDB, r"GroceryStores")
strHealthCareOut        = os.path.join(strGDB, r"HealthCare")
strParkAccessibilityOut = os.path.join(strGDB, r"ParksAndOpenSpace")

strChildCareIn  = os.path.join(dirData, r"DayCare\ChildCare.shp")
strChildCareOut = os.path.join(strGDB, r"ChildCare")

strCommunityCenterIn  = os.path.join(dirData, r"Community_Centers\Community_Centers.shp")
strCommunityCenterOut = os.path.join(strGDB, r"CommunityCenter")

strQOZIn = os.path.join(dirData, r"Utah_Qualified_Opportunity_Zones-shp\UtahQualifiedOpportunityZones.shp")
strQOZOut = os.path.join(strGDB, r"UtahQualifiedOpportunityZones")

strParcelsIn  = os.path.join(dirData, r"remm_base_year_20221003\remm_base_year.gdb\parcels")
strBuildingsIn = os.path.join(dirData, r"remm_base_year_20221003\remm_base_year.gdb\buildings")
strParcelsOut = os.path.join(strGDB, "Parcels")

strMunicipalitiesIn = os.path.join(dirData, r"Utah_Municipal_Boundaries\Utah_Municipal_Boundaries.shp")
strMetroTownshipsIn = os.path.join(dirData, r"Utah_Metro_Townships\Utah_Metro_Townships.shp")
strCommunitiesOut   = os.path.join(strGDB, "Communities")

strTAZIn      = os.path.join(dirData, r"USTM_TAZ\TAZ.shp")
strAtoWfrc    = os.path.join(dirData, r"ATO_TDM_Output\ATO19_WFRC.csv")

strTAZwithATOOut = os.path.join(strGDB, "TAZWithATOScores")

def deleteIfExists(obj):
    if arcpy.Exists(obj): arcpy.Delete_management(obj)

# Centers

In [3]:
#read in centers layer
sdfCenters = pd.DataFrame.spatial.from_featureclass(strCentersIn)

# limit to only these center types
sdfCenters = sdfCenters[sdfCenters['AreaType'].isin(['Metropolitan Center', 'Neighborhood Center', 'Urban Center', 'City Center'])]

# limit to only these fields
sdfCenters = sdfCenters[['AreaName','AreaType','SHAPE','SHAPE_Leng','SHAPE_Area']]

# export to final gdb
sdfCenters.spatial.to_featureclass(strCentersOut,sanitize_columns=False)

display(sdfCenters)
print("Centers done!")

,AreaName,AreaType,SHAPE,SHAPE_Leng,SHAPE_Area
3,Canyons,Neighborhood Center,"{""rings"": [[[-12418504.822900001, 4966253.6288...",2580.425945,-4.571034e+05
4,Crossroads,City Center,"{""rings"": [[[-12459284.2573, 4920412.608000003...",8225.990358,-3.847764e+06
5,Deer Valley Base,Neighborhood Center,"{""rings"": [[[-12409785.853500001, 4959745.5618...",2318.218577,-1.626198e+05
7,Downtown Provo,Urban Center,"{""rings"": [[[-12429503.8345, 4903193.442199998...",30147.565276,-1.267076e+07
8,Downtown Springville,City Center,"{""rings"": [[[-12428204.689199999, 4889666.9794...",13102.452785,-2.891819e+06
...,...,...,...,...,...
296,Cottonwood Village,Neighborhood Center,"{""rings"": [[[-12450006.1489, 4963743.844400004...",1603.671838,-1.275807e+05
297,Independence,City Center,"{""rings"": [[[-12460299.1094, 4933641.842799999...",11136.244121,-5.686543e+06
298,Porter Rockwell,Urban Center,"{""rings"": [[[-12457394.2335, 4935251.2874], [-...",10191.341751,-4.110667e+06
299,Washington Terrace US 89,City Center,"{""rings"": [[[-12464857.504700001, 5036005.7115...",7268.026516,-1.478004e+06
300,Meadowbrook Station,City Center,"{""rings"": [[[-12456426.317699999, 4965563.0082...",8153.372700,-2.623103e+06

Centers done!

# Access to Jobs, Roads/Transit

In [5]:
# Read in data to calculate ATO Scores by City Area

# read in TAZ only for WFRC/MAG
sdfTAZ = pd.DataFrame.spatial.from_featureclass(strTAZIn)
sdfTAZ = sdfTAZ[sdfTAZ['SUBAREAID']==1]

# read in TDM ATO output
dfAtoWfrc = pd.read_csv(strAtoWfrc)

# merge by CO_TAZID
sdfTAZwithATO = pd.DataFrame.merge(sdfTAZ,dfAtoWfrc,on='CO_TAZID',how='left')

display(sdfTAZwithATO)
display(sdfTAZwithATO.columns)

,FID,TAZID_x,SA_TAZID,CO_TAZID,SUBAREAID,EXTERNAL,ACRES,DEVACRES_x,X,Y,...,AUTO_JB,AUTO_HH,TRAN_JB,TRAN_HH,COMP_AUTO,COMP_TRAN,AUTO_JB_WT,AUTO_HH_WT,TRAN_JB_WT,TRAN_HH_WT
0,5887,4022,460,110460,1,0,322.29,322.29,409807.97148,4.551224e+06,...,104079,75935,2573,1883,102822,2543,50717497,3128517,1254036,77568
1,5888,4023,461,110461,1,0,316.91,316.91,409818.05584,4.552025e+06,...,104442,76371,2251,1773,101175,2195,38225637,6659586,823785,154613
2,5889,4218,656,350656,1,0,828.83,701.91,407896.91458,4.518164e+06,...,218058,92556,0,0,0,0,0,0,0,0
3,5890,4219,657,350657,1,0,531.35,531.28,409430.46088,4.518727e+06,...,225453,95818,0,0,0,0,0,0,0,0
4,5891,6251,2696,492696,1,0,575.28,574.81,435443.25244,4.435982e+06,...,55845,35081,0,0,55845,0,725983,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,8740,5862,2307,492307,1,0,163.96,163.96,442094.43254,4.463009e+06,...,176925,92669,7941,3638,154340,6788,60472805,20980282,2714281,823616
2854,8741,4254,692,350692,1,0,413.00,348.59,405441.29072,4.506191e+06,...,214644,114999,1954,2102,0,0,0,0,0,0
2855,8742,4259,697,350697,1,0,290.96,290.96,407021.63812,4.506072e+06,...,222836,122398,3278,2507,220503,3260,199482738,4712317,2934063,96527
2856,8743,4260,698,350698,1,0,161.32,161.32,407310.52727,4.505313e+06,...,221088,124639,4777,4450,206653,4728,162499887,29165633,3511438,1041339
2857,8744,4277,715,350715,1,0,538.57,454.18,406723.23798,4.504754e+06,...,198431,116959,1711,1665,167913,1694,1428701,912281,12318,12989

Index(['FID', 'TAZID_x', 'SA_TAZID', 'CO_TAZID', 'SUBAREAID', 'EXTERNAL',
       'ACRES', 'DEVACRES_x', 'X', 'Y', 'ADJ_XY', 'CO_FIPS', 'CO_NAME',
       'DISTSUPER', 'DSUP_NAME', 'DISTLRG', 'DLRG_NAME', 'DISTMED',
       'DMED_NAME', 'DISTSML', 'DSML_NAME', 'CITY_NAME', 'IMX_GENRL',
       'IMX_COALIX', 'IMX_OLGAIX', 'IMX_OLGAXI', 'IMX_PETRIX', 'SHAPE',
       'TAZID_y', 'DEVACRES_y', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB',
       'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT',
       'TRAN_JB_WT', 'TRAN_HH_WT'],
      dtype='object')

In [6]:
display(sdfTAZwithATO.groupby(['CITY_NAME']).agg(CNTREC=('CO_TAZID','count')))

                  CNTREC
CITY_NAME
Alpine                12
American Fork         42
Benjamin               6
Bluffdale             19
Bountiful             27
...                  ...
West Point             6
West Valley City     104
Willard               22
Woodland Hills         2
Woods Cross            9

[82 rows x 1 columns]

In [78]:
sdfTAZwithATO.columns

Index(['FID', 'TAZID_x', 'SA_TAZID', 'CO_TAZID', 'SUBAREAID', 'EXTERNAL',
       'ACRES', 'DEVACRES_x', 'X', 'Y', 'ADJ_XY', 'CO_FIPS', 'CO_NAME',
       'DISTSUPER', 'DSUP_NAME', 'DISTLRG', 'DLRG_NAME', 'DISTMED',
       'DMED_NAME', 'DISTSML', 'DSML_NAME', 'CITY_NAME', 'IMX_GENRL',
       'IMX_COALIX', 'IMX_OLGAIX', 'IMX_OLGAXI', 'IMX_PETRIX', 'SHAPE',
       'TAZID_y', 'DEVACRES_y', 'HH', 'JOB', 'AUTO_JB', 'AUTO_HH', 'TRAN_JB',
       'TRAN_HH', 'COMP_AUTO', 'COMP_TRAN', 'AUTO_JB_WT', 'AUTO_HH_WT',
       'TRAN_JB_WT', 'TRAN_HH_WT'],
      dtype='object')

In [81]:
sdfTAZwithATO['TAZID'] = sdfTAZwithATO['TAZID_x']
sdfTAZwithATO[['TAZID','AUTO_JB','SHAPE']].spatial.to_featureclass(os.path.join(strGDB, r"AccessibleJobsAuto"),sanitize_columns=False)
sdfTAZwithATO[['TAZID','TRAN_JB','SHAPE']].spatial.to_featureclass(os.path.join(strGDB, r"AccessibleJobsTransit"),sanitize_columns=False)

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\AccessibleJobsTransit'

In [7]:
# use zeros where no jobs
sdfTAZwithATO['AUTO_JB'].fillna(0, inplace=True)
sdfTAZwithATO['TRAN_JB'].fillna(0, inplace=True)

dfATOCalcs_CityMax = sdfTAZwithATO.groupby(['CITY_NAME'],as_index=False).agg(CNTREC=('CO_TAZID','count'),AUTO_JB_max=('AUTO_JB','max'),TRAN_JB_max=('TRAN_JB','max'))
display(dfATOCalcs_CityMax)

           CITY_NAME  CNTREC  AUTO_JB_max  TRAN_JB_max
0             Alpine      12       136114         1177
1      American Fork      42       195618        20113
2           Benjamin       6        88420            0
3          Bluffdale      19       227144            0
4          Bountiful      27       288207        13621
..               ...     ...          ...          ...
77        West Point       6       100812         3019
78  West Valley City     104       414856        46957
79           Willard      22        75456         2269
80    Woodland Hills       2        44474            0
81       Woods Cross       9       274466        28203

[82 rows x 4 columns]

In [8]:
sdfATOCalcs_PercentMax = pd.DataFrame.merge(sdfTAZwithATO, dfATOCalcs_CityMax, on='CITY_NAME')
sdfATOCalcs_PercentMax['AUTO_JB_percentCityMax'] = sdfATOCalcs_PercentMax['AUTO_JB'] / sdfATOCalcs_PercentMax['AUTO_JB_max']
sdfATOCalcs_PercentMax['TRAN_JB_percentCityMax'] = sdfATOCalcs_PercentMax['TRAN_JB'] / sdfATOCalcs_PercentMax['TRAN_JB_max']
sdfATOCalcs_PercentMax = sdfATOCalcs_PercentMax.fillna(0)
sdfATOCalcs_PercentMax

,FID,TAZID_x,SA_TAZID,CO_TAZID,SUBAREAID,EXTERNAL,ACRES,DEVACRES_x,X,Y,...,COMP_TRAN,AUTO_JB_WT,AUTO_HH_WT,TRAN_JB_WT,TRAN_HH_WT,CNTREC,AUTO_JB_max,TRAN_JB_max,AUTO_JB_percentCityMax,TRAN_JB_percentCityMax
0,5887,4022,460,110460,1,0,322.29,322.29,409807.97148,4.551224e+06,...,2543,50717497,3128517,1254036,77568,13,115130,5928,0.904013,0.434042
1,5888,4023,461,110461,1,0,316.91,316.91,409818.05584,4.552025e+06,...,2195,38225637,6659586,823785,154613,13,115130,5928,0.907166,0.379723
2,6328,3989,427,110427,1,0,1142.45,1140.09,407425.18568,4.550026e+06,...,0,82612070,3731692,0,0,13,115130,5928,0.627951,0.000000
3,6358,4021,459,110459,1,0,580.75,580.75,408401.59947,4.551572e+06,...,0,35989787,13894086,0,0,13,115130,5928,0.789395,0.000000
4,6359,4024,462,110462,1,0,610.77,610.77,409824.85522,4.550044e+06,...,3201,68037171,62344439,2549919,2080569,13,115130,5928,0.865239,0.629723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2853,8649,3830,265,570265,1,0,1166.30,1074.54,406500.36115,4.561536e+06,...,0,11499303,0,0,0,9,90291,0,0.912959,0.000000
2854,8654,3833,268,570268,1,0,876.73,876.36,406674.12779,4.559451e+06,...,0,38509714,5621219,0,0,9,90291,0,0.871670,0.000000
2855,8655,3835,270,570270,1,0,854.10,854.02,404974.61909,4.557362e+06,...,0,31416438,1834595,0,0,9,90291,0,0.766400,0.000000
2856,8471,5469,1914,491914,1,0,6841.59,6836.33,417154.91880,4.446732e+06,...,0,0,0,0,0,2,17044,0,0.960514,0.000000
2857,8634,5468,1913,491913,1,0,1956.73,1956.73,419720.38835,4.444619e+06,...,0,0,0,0,0,2,17044,0,1.000000,0.000000

In [9]:
# check max scores for all cities to make sure equals 1
dfCheck = sdfATOCalcs_PercentMax.groupby(['CITY_NAME'],as_index=False).agg(NumTAZ=('CO_TAZID','count'),AutoMaxScore=('AUTO_JB_percentCityMax','max'),TranMaxScore=('TRAN_JB_percentCityMax','max'),AutoMinScore=('AUTO_JB_percentCityMax','min'),TranMinScore=('TRAN_JB_percentCityMax','min'))
dfCheck

,CITY_NAME,NumTAZ,AutoMaxScore,TranMaxScore,AutoMinScore,TranMinScore
0,Alpine,12,1.0,1.0,0.690326,0.000000
1,American Fork,42,1.0,1.0,0.715292,0.000000
2,Benjamin,6,1.0,0.0,0.815675,0.000000
3,Bluffdale,19,1.0,0.0,0.710272,0.000000
4,Bountiful,27,1.0,1.0,0.570604,0.000000
...,...,...,...,...,...,...
77,West Point,6,1.0,1.0,0.764849,0.000000
78,West Valley City,104,1.0,1.0,0.390724,0.000000
79,Willard,22,1.0,1.0,0.758575,0.000000
80,Woodland Hills,2,1.0,0.0,0.926654,0.000000
81,Woods Cross,9,1.0,1.0,0.881832,0.060703

In [10]:
sdfATOScores = sdfATOCalcs_PercentMax[['CO_TAZID','AUTO_JB_percentCityMax','TRAN_JB_percentCityMax','SHAPE']]
sdfATOScores = sdfATOScores.rename(columns={'AUTO_JB_percentCityMax':'ATO_Auto_Score','TRAN_JB_percentCityMax':'ATO_Tran_Score'})
sdfATOScores.spatial.to_featureclass(strTAZwithATOOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\TAZWithATOScores'

# Day Care Centers

In [11]:
# Geolocate Day Care Centers - DONE PREVIOUSLY WITH WEBER CO WORK
#arcpy.agrcgeocoding.GeocodeTable("AGRC-2B10133F988346 ", "'report - 2022-02-18T121554#372$'", "ID_NUMBER", "LOCATION_ADDRESS_ONE", "LOCATION_ZIP_CODE", r"E:\GitHub\Housing-Affordability-Weber-County\intermediate\daycare_georeference", 'PROJCS["NAD_1983_UTM_Zone_12N",GEOGCS["GCS_North_American_1983",DATUM["D_North_American_1983",SPHEROID["GRS_1980",6378137.0,298.257222101]],PRIMEM["Greenwich",0.0],UNIT["Degree",0.0174532925199433]],PROJECTION["Transverse_Mercator"],PARAMETER["False_Easting",500000.0],PARAMETER["False_Northing",0.0],PARAMETER["Central_Meridian",-111.0],PARAMETER["Scale_Factor",0.9996],PARAMETER["Latitude_Of_Origin",0.0],UNIT["Meter",1.0]];-5120900 -9998100 10000;-100000 10000;-100000 10000;0.001;0.001;0.001;IsHighPrecision', "Address points and road centerlines")


sdfChildCare = pd.DataFrame.spatial.from_featureclass(strChildCareIn)
sdfChildCare.spatial.to_featureclass(strChildCareOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\ChildCare'

# Schools

In [12]:
# read in school data
sdfSchools = pd.DataFrame.spatial.from_featureclass(strSchoolsIn)

# public K-12 schools
sdfSchoolsRegPub = sdfSchools[(sdfSchools['EDTYPE'].isin(['Regular Education'])) & ~(sdfSchools['EDTYPE'].isin(['Public', 'Online School', 'Regional Campus', 'Private School', 'Online Private School', 'Online Charter School', 'Charter School']))]
sdfSchoolsRegPub.spatial.to_featureclass(strSchoolsOut_RegPub,sanitize_columns=False)
display(sdfSchoolsRegPub)

# higher ed schools
sdfSchoolsHighEd = sdfSchools[(sdfSchools['EDTYPE'].isin(['Higher Education']))]
sdfSchoolsHighEd.spatial.to_featureclass(strSchoolsOut_HighEd,sanitize_columns=False)
display(sdfSchoolsHighEd)

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,FID,OBJECTID,DISTRICT,SCHOOL,LEANUM,SCHOOLNUM,SCHOOLTYPE,EDTYPE,GRADELOW,GRADEHIGH,ADDRESS,CITY,ZIP,PHONE,WEB,SHAPE
0,0,1,ALPINE,RIVER ROCK SCHOOL,1,201,,Regular Education,PK,6,520 N 1700 W,LEHI,84043,8016108731,www.alpineschools.org,"{""x"": -12453995.4252, ""y"": 4923363.086099997, ..."
1,1,2,ALPINE,SKYRIDGE HIGH SCHOOL,1,785,,Regular Education,10,12,3000 NORTH CENTER STREET,LEHI,84043,8016108820,shs.alpineschools.org,"{""x"": -12450876.2469, ""y"": 4928046.874799997, ..."
2,2,3,ALPINE,SPRINGSIDE SCHOOL,1,202,,Regular Education,K,6,694 S HIGHPOINT DRIVE,SARATOGA SPRINGS,84045,8016108400,springside.alpineschools.org,"{""x"": -12458088.528, ""y"": 4916832.835900001, ""..."
4,4,5,ALPINE,ALTA INDEPENDENT,AL,955,Private School,Regular Education,6,12,575 E UNIVERSITY PARKWAY SUITE E212,OREM,84097,8884239192,www.altaindependent.com,"{""x"": -12433183.5485, ""y"": 4905551.921300001, ..."
5,5,6,JORDAN,AMERICAN ACADEMY OF INNOVATION,8K,700,Charter School,Regular Education,6,12,5410 W SOUTH JORDAN PARKWAY,SOUTH JORDAN,84009,8018104786,www.aaiutah.org,"{""x"": -12470029.2796, ""y"": 4947204.268700004, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264,1264,1265,GRANITE,ACADEMY FOR MATH ENGINEERING & SCIENCE (AMES),83,700,Charter School,Regular Education,9,12,5715 S 1300 E,SALT LAKE CITY,84121,8012789460,http://www.ames-slc.org/,"{""x"": -12451461.5151, ""y"": 4960353.776900001, ..."
1267,1267,1268,CACHE COUNTY,HERITAGE SCHOOL,4,120,,Regular Education,K,6,925 W 3200 S,LOGAN,84321,4357927696,http://www.ccsdut.org/Heritage.cfm,"{""x"": -12451745.385, ""y"": 5112568.022600003, ""..."
1268,1268,1269,PARK CITY,MCPOLIN PRESCHOOL,22,108,,Regular Education,PK,5,2270 KEARNS BLVD,PARK CITY,84060,4356455630,,"{""x"": -12411335.7628, ""y"": 4963721.682599999, ..."
1273,1273,1274,CANYONS,MIDVALE ELEMENTARY SCHOOL,42,683,,Regular Education,K,5,7830 S CHAPEL ST,MIDVALE,84047,8018268725,http://midvale.canyonsdistrict.org/,"{""x"": -12456969.053399999, ""y"": 4954793.345799..."
1274,1274,1275,DAVIS COUNTY,FARMINGTON HIGH SCHOOL,,,,Regular Education,10,12,548 W GLOVERS LN,FARMINGTON,84025,8014029050,https://fhs.davis.k12.ut.us/,"{""x"": -12456600.9232, ""y"": 5007307.300499998, ..."

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,FID,OBJECTID,DISTRICT,SCHOOL,LEANUM,SCHOOLNUM,SCHOOLTYPE,EDTYPE,GRADELOW,GRADEHIGH,ADDRESS,CITY,ZIP,PHONE,WEB,SHAPE
488,488,489,OGDEN CITY,OGDEN-WEBER ATC,1 3 4 35 37,44,Regional Campus,Higher Education,9,12,200 N WASHINGTON BLVD,OGDEN,84404,8016278300,http://www.owatc.edu/,"{""x"": -12463714.8718, ""y"": 5051366.219400004, ..."
494,494,495,LOGAN CITY,BRIDGERLAND ATC,1 3 4 24 39,45,Regional Campus,Higher Education,9,12,1301 N 600 W,LOGAN,84321,4357536780,http://www.batc.edu/,"{""x"": -12451147.5889, ""y"": 5124555.626500003, ..."
582,582,583,OGDEN CITY,WEBER STATE UNIVERSITY,1 35 37,54,Residential Campus,Higher Education,9,12,1001 UNIVERSITY CIR,OGDEN,84408,8016266000,https://www.weber.edu/,"{""x"": -12461732.3555, ""y"": 5040825.033799998, ..."
587,587,588,IRON COUNTY,SOUTHERN UTAH UNIVERSITY,2 13,56,Residential Campus,Higher Education,9,12,351 W CENTER ST,CEDAR CITY,84720,4355867700,http://www.suu.edu/,"{""x"": -12586960.887, ""y"": 4533694.3191, ""spati..."
605,605,606,SEVIER COUNTY,SNOW COLLEGE RICHFIELD,1 10 20 23 26 27 34,46,Regional Campus,Higher Education,9,12,800 W 200 S,RICHFIELD,84701,,,"{""x"": -12478717.844700001, ""y"": 4688235.8204, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,1266,1267,RICH COUNTY,BRIDGERLAND ATC,1 3 4 24 39,45,Regional Campus,Higher Education,9,12,1200 REDWOOD RD,WOODRUFF,84086,4357934500,http://www.batc.edu/,"{""x"": -12375581.5988, ""y"": 5099350.307400003, ..."
1269,1269,1270,CANYONS,SALT LAKE COMMUNITY COLLEGE MILLER CAMPUS,1 12 14 21 36 40,49,Regional Campus,Higher Education,9,12,9750 S 300 W,SANDY,84070,3859574111,http://www.slcc.edu/,"{""x"": -12456851.3424, ""y"": 4949785.659900002, ..."
1270,1270,1271,JORDAN,SALT LAKE COMMUNITY COLLEGE JORDAN CAMPUS,1 12 14 21 36 40,49,Regional Campus,Higher Education,9,12,3491 W WIGHTS FORT RD,WEST JORDAN,84088,,http://www.slcc.edu/,"{""x"": -12464923.1545, ""y"": 4951265.9494, ""spat..."
1271,1271,1272,GRANITE,SALT LAKE COMMUNITY COLLEGE WEST VALLEY CENTER,1 12 14 21 36 40,49,Regional Campus,Higher Education,9,12,3460 S 5600 W,WEST VALLEY CITY,84128,,http://www.slcc.edu/,"{""x"": -12470737.3688, ""y"": 4967794.193899997, ..."
1272,1272,1273,UINTAH COUNTY,UINTAH BASIN ATC,6 8 31,47,Regional Campus,Higher Education,9,12,450 N 2000 W,VERNAL,84078,4357257100,,"{""x"": -12196800.509100001, ""y"": 4933205.7042, ..."

# Active Transportation

In [13]:
# read in active transportation
sdfATLines = pd.DataFrame.spatial.from_featureclass(strATLinesIn)

# filter to only certain project types
sdfATLines = sdfATLines[sdfATLines['ProjType'].isin(['Shared Use Path','Protected Bike Lane'])]

# export to GDB
sdfATLines.spatial.to_featureclass(strATLinesOut,sanitize_columns=False)
display(sdfATLines)

,FID,OBJECTID,ProjectID,Project,ProjFrom,ProjTo,ProjType,Length_mi,PhaseNeed,Cost2019,CostPhased,Notes,Disclaimer,SHAPE_Leng,SHAPE
1,1,2,A-B-2,400 East to 700 North,600 North,Highland Boulevard,Shared Use Path,0.5,2,"$510,000","$950,000",,,1092.964798,"{""paths"": [[[-12468807.686900001, 5089759.1957..."
4,4,5,A-B-5,Forest Street,Bear River Bird Refuge,600 East,Shared Use Path,3.4,1,"$3,390,000","$4,290,000",,The planned active transportation solution may...,7286.228318,"{""paths"": [[[-12468487.932300001, 5087567.0917..."
6,6,7,A-B-7,Eagle Mountain Trail,FrontRunner Trail,200 South,Shared Use Path,3.4,1,"$3,350,000","$4,240,000",,,7203.844683,"{""paths"": [[[-12472577.2059, 5084401.817400001..."
7,7,8,A-B-8,700 South / 700 South Trail,1200 West,Eagle Mountain Trail,Shared Use Path,2.6,1,"$2,560,000","$3,240,000",,,5504.650336,"{""paths"": [[[-12467370.2507, 5085639.740099996..."
12,12,13,A-B-13,750 North,SR-315,Bonneville Shoreline Trail,Shared Use Path,2.1,2,"$2,090,000","$3,920,000",,The planned active transportation solution may...,4486.990371,"{""paths"": [[[-12473782.883299999, 5074717.7242..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,665,2973,A-S-396,Crescent Willow Creek Trail,11400 South,Windmill Gate,Shared Use Path,0.9,3,"$735,000","$1,870,000",<b><u>Amendment 3</u></b><br/>New Project.,,1849.337149,"{""paths"": [[[-12457281.5279, 4943898.223899998..."
666,666,2974,A-S-397,7000 South,3760 West,Jordan River Parkway,Shared Use Path,3.0,3,"$3,000,000","$7,690,000",<b><u>Amendment 3</u></b><br/>New Project.,,6359.664569,"{""paths"": [[[-12465592.071899999, 4956932.8522..."
667,667,2975,A-S-398,TRAX Rail Trail,Utah Lake Distribution Trail,Jordan River Parkway Trail,Shared Use Path,3.1,3,"$2,647,000","$6,790,000",<b><u>Amendment 3</u></b><br/>New Project.,,6541.294345,"{""paths"": [[[-12459104.2774, 4954894.328100003..."
669,669,2977,A-S-400,Airport Bike Trail,South Valley Regional Airport,South Valley Regional Airport,Shared Use Path,4.1,2,"$4,336,000","$7,520,000",<b><u>Amendment 3</u></b><br/>New Project.,,8650.263180,"{""paths"": [[[-12467766.5975, 4958121.560999997..."
670,670,2978,A-S-401,SR-111 Trail,4100 South,Old Bingham Highway,Shared Use Path,8.8,1,"$6,730,000","$7,870,000",<b><u>Amendment 3</u></b><br/>New Project.,,18710.153579,"{""paths"": [[[-12474830.5736, 4948536.714100003..."

# Transit

In [14]:
display(strTransitIn_Stops   )
display(strTransitIn_BRT     )
display(strTransitIn_LRT     )
display(strTransitOut_Lcl    )
display(strTransitOut_LrtCur )
display(strTransitOut_LrtFut )
display(strTransitOut_BrtCur )
display(strTransitOut_BrtFut )
display(strTransitOut_CrtCur )
display(strTransitOut_CrtFut )

'E:\\GitHub\\Housing-Suitability\\data\\UTA_Stops_and_Most_Recent_Ridership\\UTA_Stops_and_Most_Recent_Ridership.shp'

'E:\\GitHub\\Housing-Suitability\\data\\NewTransit.gdb\\BRT_Stops'

'E:\\GitHub\\Housing-Suitability\\data\\NewTransit.gdb\\LightRail_Stations'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\LocalBusStops'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\LRTStops'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\LRTStops_Future'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\BRTStops'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\BRTStops_Future'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\CRTStops'

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\CRTStops_Future'

In [15]:
# LCL STOPS - 1/4 Miles

sdfStops = pd.DataFrame.spatial.from_featureclass(strTransitIn_Stops)
sdfLocalBusStops = sdfStops[sdfStops['Mode']=='Bus'].copy()

sdfLocalBusStops.spatial.to_featureclass(strTransitOut_Lcl,sanitize_columns=False)

## Create a map widget
#mapbus = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfLocalBusStops.spatial.plot(map_widget = mapbus,
#                          renderer_type='s',
#                          symbol_type='simple',
#                          symbol_style='d', # d - for diamonds
#                          colors='Purples',
#                          cstep=50,
#                          outline_color='Greens',
#                          marker_size=10)
#
##define map characteristics
#mapbus.layout.height='800px'
#mapbus.legend=True
#
##display map
#mapbus

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\LocalBusStops'

In [16]:
# BRT STOPS - 1/3 Miles

strBRTStops = "BRT_Stops"

# read in current BRT stops - MISSING UVX
sdfBRTStops = pd.DataFrame.spatial.from_featureclass(strTransitIn_BRT)
sdfBRT35M = sdfBRTStops[sdfBRTStops['Name']=='3500S_MAX'].copy()

#change projection to WGS84 to match tracts
sdfBRT35M.spatial.project(4326)
#sdfBRTCurrent35M['x_lon'] = sdfBRTCurrent35M.apply(lambda row: row.SHAPE.centroid[0], axis = 1)
#sdfBRTCurrent35M['y_lat'] = sdfBRTCurrent35M.apply(lambda row: row.SHAPE.centroid[1], axis = 1)

sdfBRT35M = sdfBRT35M[['Name','SHAPE']]
sdfBRT35M = sdfBRT35M.rename(columns={'Name':'Route'})

#display(sdfBRT35M)

# add UVX bus stops from local dataset

sdfLocalStops = pd.DataFrame.spatial.from_featureclass(strTransitIn_Stops)
sdfUVXStops = sdfLocalStops[sdfLocalStops['Route']=='830X'].copy()

#change projection to WGS84 to match tracts
sdfUVXStops.spatial.project(4326)
#sdfUVXStops['x_lon'] = sdfUVXStops.apply(lambda row: row.SHAPE.centroid[0], axis = 1)
#sdfUVXStops['y_lat'] = sdfUVXStops.apply(lambda row: row.SHAPE.centroid[1], axis = 1)

sdfUVXStops = sdfUVXStops[['Route','SHAPE']]

#display(sdfUVXStops)

sdfBRTCurrent = pd.concat([sdfBRT35M,sdfUVXStops])
#display(sdfBRTStops_Current)

sdfBRTCurrent.spatial.to_featureclass(strTransitOut_BrtCur,sanitize_columns=False)

# read in future BRT stops
sdfBRTFuture = sdfBRTStops[sdfBRTStops['Existing'].isin(['Future','Planned'])].copy()

sdfBRTFuture.spatial.to_featureclass(strTransitOut_BrtFut,sanitize_columns=False)

#display(sdfBRTFuture)

## Create a map widget
#mapbrt = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfBRTFuture.spatial.plot(map_widget=mapbrt,
#                          renderer_type='s',
#                          symbol_type='simple',
#                          symbol_style='d', # d - for diamonds
#                          colors='Reds_r',
#                          cstep=50,
#                          outline_color='Blues',
#                          marker_size=10)
##define sdf layer
#sdfBRTCurrent.spatial.plot(map_widget=mapbrt,
#                           renderer_type='s',
#                           symbol_type='simple',
#                           symbol_style='d', # d - for diamonds
#                           colors='Oranges',
#                           cstep=50,
#                           outline_color='Greens',
#                           marker_size=10)
#
##define map characteristics
#mapbrt.layout.height='800px'
#mapbrt.legend=True
#
##display map
#mapbrt

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\BRTStops_Future'

In [17]:
# Rail Stops - 1/3 mile

sdfLRTStops = pd.DataFrame.spatial.from_featureclass(strTransitIn_LRT)
sdfLRTCurrent = sdfLRTStops[sdfLRTStops['STATUS']=='Current'].copy()

sdfLRTCurrent.spatial.to_featureclass(strTransitOut_LrtCur,sanitize_columns=False)

sdfLRTFuture = sdfLRTStops[sdfLRTStops['STATUS']!='Current'].copy()

sdfLRTFuture.spatial.to_featureclass(strTransitOut_LrtFut,sanitize_columns=False)

### Create a map widget
#maplrt = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfLRTFuture[['SHAPE']].spatial.plot(map_widget=maplrt,
#                          renderer_type='s',
#                          symbol_type='simple',
#                          symbol_style='d', # d - for diamonds
#                          colors='Reds_r',
#                          cstep=50,
#                          outline_color='Reds',
#                          marker_size=10)
##define sdf layer
#sdfLRTCurrent[['SHAPE']].spatial.plot(map_widget=maplrt,
#                           renderer_type='s',
#                           symbol_type='simple',
#                           symbol_style='d', # d - for diamonds
#                           colors='Oranges',
#                           cstep=50,
#                           outline_color='Greens',
#                           marker_size=10)
#
##define map characteristics
#maplrt.layout.height='800px'
#maplrt.legend=True
#
##display map
#maplrt

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\LRTStops_Future'

In [18]:
# Rail Stops - 1/3 mile

sdfCRTStops = pd.DataFrame.spatial.from_featureclass(strTransitIn_CRT)
sdfCRTCurrent = sdfCRTStops[sdfCRTStops['Status']=='Current'].copy()

sdfCRTCurrent.spatial.to_featureclass(strTransitOut_CrtCur,sanitize_columns=False)

sdfCRTFuture = sdfCRTStops[sdfCRTStops['Status']!='Current'].copy()

sdfCRTFuture.spatial.to_featureclass(strTransitOut_CrtFut,sanitize_columns=False)

### Create a map widget
#mapCrt = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfCRTFuture[['SHAPE']].spatial.plot(map_widget=mapCrt,
#                          renderer_type='s',
#                          symbol_type='simple',
#                          symbol_style='d', # d - for diamonds
#                          colors='Reds_r',
#                          cstep=50,
#                          outline_color='Reds',
#                          marker_size=10)
##define sdf layer
#sdfCRTCurrent[['SHAPE']].spatial.plot(map_widget=mapCrt,
#                           renderer_type='s',
#                           symbol_type='simple',
#                           symbol_style='d', # d - for diamonds
#                           colors='Oranges',
#                           cstep=50,
#                           outline_color='Greens',
#                           marker_size=10)
#
##define map characteristics
#mapCrt.layout.height='500px'
#mapCrt.legend=True
#
##display map
#mapCrt

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\CRTStops_Future'

# Interchanges

In [20]:
## MAY NEED DATA FOR MAG!!!

sdfInterchanges = pd.DataFrame.spatial.from_featureclass(strInterchangesIn_Cur)
sdfInterchanges.spatial.to_featureclass(strInterchangesOut_Cur,sanitize_columns=False)

sdfInterchanges_Future = pd.DataFrame.spatial.from_featureclass(strInterchangesIn_Fut)
sdfInterchanges_Future = sdfInterchanges_Future[(sdfInterchanges_Future['ProjType']=='New Construction') & (sdfInterchanges_Future['Project'].str.contains('Interchange', na=False))]
sdfInterchanges_Future.spatial.to_featureclass(strInterchangesOut_Fut,sanitize_columns=False)


### Create a map widget
#mapInt = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfInterchanges.spatial.plot(map_widget=mapInt,
#                                     renderer_type='s',
#                                     symbol_type='simple',
#                                     symbol_style='d', # d - for diamonds
#                                     colors='Reds_r',
#                                     cstep=50,
#                                     outline_color='Reds',
#                                     marker_size=10)
##define sdf layer
#sdfInterchanges_Future.spatial.plot(map_widget=mapInt,
#                                      renderer_type='s',
#                                      symbol_type='simple',
#                                      symbol_style='d', # d - for diamonds
#                                      colors='Oranges',
#                                      cstep=50,
#                                      outline_color='Greens',
#                                      marker_size=10)
#
##define map characteristics
#mapInt.layout.height='500px'
#mapInt.legend=True
#
##display map
#mapInt

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\Interchanges_Future'

# Active Transportation

In [21]:
# info: https://gis.utah.gov/bike-related-gis-data-resources/

#Coded  Values
#Code   Name
#1A     1A Cycle track, at-grade, protected with parking
#1B     1B Cycle track, protected with barrier
#1C     1C Cycle track, raised and curb separated (may be multiuse with peds)
#2A     2A Buffered bike lane
#2B     2B Bike lane
#3A     3A Shoulder bikeway
#3B     3B Marked shared roadway
#3C     3C Signed shared roadway
#1      1 Cycle track, unspecified 
#2      2 Bike lane, unspecified 
#3      3 Other bike route, unspecified
#PP     Parallel Bike Path, Paved
#PU     Parallel Bike Path, Unpaved
#UN     Unknown Category

# for roadway bike facilities, only use cycle tracks
sdfRoads = pd.DataFrame.spatial.from_featureclass(strRoadsIn)
sdfATCycleTracks_Current = sdfRoads[(sdfRoads['BIKE_L'    ].isin(['1A', '1B', '1C', '1'])) | sdfRoads['BIKE_R'    ].isin(['1A', '1B', '1C', '1'])].copy()
sdfATCycleTracks_Current.spatial.to_featureclass(strATCycleTracksOut_Cur,sanitize_columns=False)

sdfATCycleTracks_Future =  sdfRoads[(sdfRoads['BIKE_PLN_L'].isin(['1A', '1B', '1C', '1'])) | sdfRoads['BIKE_PLN_R'].isin(['1A', '1B', '1C', '1'])].copy()
sdfATCycleTracks_Future.spatial.to_featureclass(strATCycleTracksOut_Fut,sanitize_columns=False)

### Create a map widget
#mapCT = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
##define sdf layer
#sdfATCycleTracks_Current.spatial.plot(map_widget=mapCT,
#                                      renderer_type='s',
#                                      cmap='Spectral',  # use a different color map
#                                      symbol_type='simple')
##define sdf layer
#sdfATCycleTracks_Future.spatial.plot(map_widget=mapCT,
#                                     renderer_type='s',
#                                     cmap='prism',  # use a different color map
#                                     symbol_type='simple')
#
##define map characteristics
#mapCT.layout.height='500px'
#mapCT.legend=True
#
##display map
#mapCT

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\ATCycleTracks_Future'

In [22]:
# MAY NEED UTAH COUNTY DATA!!!!

# for trails and paths use Class "Path"

sdfTrailsandPathways = pd.DataFrame.spatial.from_featureclass(strTrailsAndPathwaysIn)
sdfPaths_Current = sdfTrailsandPathways[(sdfTrailsandPathways['Class']=='Path') & (sdfTrailsandPathways['Status']=='EXISTING')]
sdfPaths_Current.spatial.to_featureclass(strPathsOut_Cur,sanitize_columns=False)

sdfPaths_Future =  sdfTrailsandPathways[(sdfTrailsandPathways['Class']=='Path') & (sdfTrailsandPathways['Status']=='PROPOSED')]
sdfPaths_Future.spatial.to_featureclass(strPathsOut_Fut,sanitize_columns=False)

## Create a map widget
mapPath = gis.map('Salt Lake City') # Passing a place name to the constructor
                        # will initialize the extent of the map.

##define sdf layer
#sdfPaths_Current.spatial.plot(map_widget=mapPath,
#                              renderer_type='s',
#                              cmap='Spectral',  # use a different color map
#                              symbol_type='simple')
##define sdf layer
#sdfPaths_Future.spatial.plot(map_widget=mapPath,
#                             renderer_type='s',
#                             cmap='prism',  # use a different color map
#                             symbol_type='simple')
#
##define map characteristics
#mapPath.layout.height='500px'
#mapPath.legend=True
#
##display map
#mapPath

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

# Amenitities

In [23]:
sdfCommunityCenter = pd.DataFrame.spatial.from_featureclass(strCommunityCenterIn)
sdfCommunityCenter.spatial.to_featureclass(strCommunityCenterOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\CommunityCenter'

In [3]:
sdfGrocery = pd.DataFrame.spatial.from_featureclass(strGroceryIn)
sdfGrocery = sdfGrocery[sdfGrocery['TYPE'].isin(['Grocery Store','Supermarket'])]
sdfGrocery.spatial.to_featureclass(strGroceryOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\GroceryStores'

In [25]:
sdfHealthCare = pd.DataFrame.spatial.from_featureclass(strHealthCareIn)
sdfHealthCare = sdfHealthCare[sdfHealthCare['TYPE'].isin(['CLINIC', 'HOSPITAL', 'URGENT CARE CLINIC'])]
sdfHealthCare.spatial.to_featureclass(strHealthCareOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\HealthCare'

In [26]:
sdfParkAccessibility = pd.DataFrame.spatial.from_featureclass(strParkAccessibilityIn)
sdfParkAccessibility = sdfParkAccessibility.drop(columns=['Name','FromBreak','ToBreak'])
sdfParkAccessibility.spatial.to_featureclass(strParkAccessibilityOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\ParksAndOpenSpace'

In [27]:
### Create a map widget
#mapAmenities = gis.map('Salt Lake City') # Passing a place name to the constructor
#                        # will initialize the extent of the map.
#
#
##define sdf layer
#sdfCommunityCenter.spatial.plot(map_widget=mapAmenities,
#                                renderer_type='s',
#                                cmap = 'Purples',  # use a red to purple color map
#                                symbol_type='simple',
#                                outline_style='s',
#                                outline_color=[0,0,0,255],
#                                line_width=1.0)
#
##define sdf layer
#sdfParkAccessibility.spatial.plot(map_widget=mapAmenities,
#                                  renderer_type='s',
#                                  cmap = 'Greens',  # use a red to purple color map
#                                  symbol_type='simple',
#                                  outline_style='s',
#                                  outline_color=[0,0,0,255],
#                                  line_width=1.0)
#
#
##define sdf layer
#sdfGrocery.spatial.plot(map_widget=mapAmenities,
#                                     renderer_type='s',
#                                     symbol_type='simple',
#                                     symbol_style='d', # d - for diamonds
#                                     colors='Reds_r',
#                                     cstep=50,
#                                     outline_color='Reds_r',
#                                     marker_size=10)
##define sdf layer
#sdfHealthCare.spatial.plot(map_widget=mapAmenities,
#                                      renderer_type='s',
#                                      symbol_type='simple',
#                                      symbol_style='d', # d - for diamonds
#                                      colors='Blues',
#                                      cstep=50,
#                                      outline_color='Blues',
#                                      marker_size=10)
#
##define map characteristics
#mapAmenities.layout.height='500px'
#mapAmenities.legend=True
#
##display map
#mapAmenities

# Ring Buffers

In [10]:
def getLayerDistField(strName):
  return "dist_" + strName.rsplit('\\',1)[1]

In [11]:
def createRingBuffers(strBufferPrefix,dBufferDistances):
  strBufferLayerName = strBufferPrefix  + "_Buffers"
  deleteIfExists(strBufferLayerName)
  deleteIfExists("memory\diss_fc")
  display(strBufferPrefix  + "_Buffers")
  arcpy.analysis.MultipleRingBuffer(strBufferPrefix, strBufferLayerName, dBufferDistances, "miles", "", "ALL")
  strNewFieldName = getLayerDistField(strBufferPrefix)
  arcpy.management.AlterField(strBufferLayerName, "distance", strNewFieldName, strNewFieldName)

In [12]:
#indicate which layers to buffer by putting "Yes" in second column

# TEMP FOR GROCERY ONLY

dBufferLayers = [
  [strInterchangesOut_Cur , "No", [1/2, 1, 2]],
  [strInterchangesOut_Fut , "No", [1/2, 1, 2]],
  [strTransitOut_Lcl      , "No", [1/4      ]],
  [strTransitOut_BrtCur   , "No", [1/3      ]],
  [strTransitOut_BrtFut   , "No", [1/3      ]],
  [strTransitOut_LrtCur   , "No", [1/3      ]],
  [strTransitOut_LrtFut   , "No", [1/3      ]],
  [strTransitOut_CrtCur   , "No", [1/3      ]],
  [strTransitOut_CrtFut   , "No", [1/3      ]],
  [strChildCareOut        , "No", [1/2, 1   ]],
  [strHealthCareOut       , "No", [1/2, 1   ]],
  [strSchoolsOut_RegPub   , "No", [1/2, 1   ]],
  [strSchoolsOut_HighEd   , "No", [     1, 2]],
  [strGroceryOut          , "Yes", [1/2, 1   ]],
  [strCommunityCenterOut  , "No", [1/2, 1   ]],
  [strPathsOut_Cur        , "No", [1/2, 1   ]],
  [strPathsOut_Fut        , "No", [1/2, 1   ]],
  [strATCycleTracksOut_Cur, "No", [1/2, 1   ]],
  [strATCycleTracksOut_Fut, "No", [1/2, 1   ]]
]

for l in dBufferLayers:
  if (l[1])=='Yes':
    print('buffering ' + l[0])
    createRingBuffers(l[0],l[2])
print('done!')

buffering E:\GitHub\Housing-Suitability\results\HousingSuitability.gdb\GroceryStores

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\GroceryStores_Buffers'

done!

# Centers Splitting

In [31]:
#export separate layers for centers
sdfCenters[sdfCenters['AreaType']=='Metropolitan Center'].spatial.to_featureclass(strCentersOut_MC,sanitize_columns=False)
sdfCenters[sdfCenters['AreaType']=='Urban Center'       ].spatial.to_featureclass(strCentersOut_UC,sanitize_columns=False)
sdfCenters[sdfCenters['AreaType']=='City Center'        ].spatial.to_featureclass(strCentersOut_CC,sanitize_columns=False)
sdfCenters[sdfCenters['AreaType']=='Neighborhood Center'].spatial.to_featureclass(strCentersOut_NC,sanitize_columns=False)

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\NeighborhoodCenters'

# Qualified Opportunity Zones

In [32]:
sdfQOZ = pd.DataFrame.spatial.from_featureclass(strQOZIn)
sdfQOZ = sdfQOZ[sdfQOZ['COUNTYNAME'].isin(['Weber','Davis','Salt Lake','Utah'])].copy()
sdfQOZ[['QOZ','SHAPE','SHAPE_Leng','SHAPE_Area']].spatial.to_featureclass(strQOZOut,sanitize_columns=False)

c:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\UtahQualifiedOpportunityZones'

# Parcels

In [33]:
importparcels = False
if importparcels:
  sdfParcels = pd.DataFrame.spatial.from_featureclass(strBuildingsIn) # use buildings dataset, since it's acutally a parcel with building info

In [34]:
if importparcels:
  # drop extra fields and export
  sdfParcels2 = sdfParcels.drop(columns=['building_id','building_sqft','building_type_id','non_residential_sqft','note','residential_units','stories','unit_price_non_residential','year_built','res_price_per_sqft','job_spaces','building_type_id2','basebldg'])
  sdfParcels2.spatial.to_featureclass(strParcelsOut,sanitize_columns=False)

# Communities

In [75]:
sdfMunicipalities = pd.DataFrame.spatial.from_featureclass(strMunicipalitiesIn)[['NAME','COUNTYNBR','Shape__Are','Shape__Len', 'SHAPE']]
sdfMetroTownships = pd.DataFrame.spatial.from_featureclass(strMetroTownshipsIn)[['NAME','COUNTYNBR','Shape__Are','Shape__Len', 'SHAPE']]
sdfCommunities = pd.concat([sdfMunicipalities,sdfMetroTownships])
sdfCommunities = sdfCommunities[sdfCommunities['COUNTYNBR'].isin(['29','06','18','25'])] # four WF counties
sdfCommunities = sdfCommunities[~sdfCommunities['NAME'].isin(['Alta','Brighton','Huntsville','Emigration Canyon'])] # manually remove communities outside WF

In [76]:
sdfCommunities.columns

Index(['NAME', 'COUNTYNBR', 'Shape__Are', 'Shape__Len', 'SHAPE'], dtype='object')

In [77]:
dCommCode = [['Alpine'              , 'ALP'],
             ['Alta'                , 'ALA'],
             ['American Fork'       , 'AFK'],
             ['Bluffdale'           , 'BDL'],
             ['Bountiful'           , 'BTF'],
             ['Cedar Fort'          , 'CDF'],
             ['Cedar Hills'         , 'CHL'],
             ['Centerville'         , 'CEN'],
             ['Clearfield'          , 'CLR'],
             ['Clinton'             , 'CLI'],
             ['Copperton'           , 'CMT'],
             ['Cottonwood Heights'  , 'COT'],
             ['Draper'              , 'DRA'],
             ['Eagle Mountain'      , 'EAG'],
             ['Elk Ridge'           , 'ELK'],
             ['Fairfield'           , 'FFD'],
             ['Farmington'          , 'FRM'],
             ['Farr West'           , 'FRR'],
             ['Fruit Heights'       , 'FRU'],
             ['Genola'              , 'GEN'],
             ['Goshen'              , 'GOS'],
             ['Harrisville'         , 'HAR'],
             ['Herriman'            , 'HER'],
             ['Highland'            , 'HGH'],
             ['Holladay'            , 'HOL'],
             ['Hooper'              , 'HOO'],
             ['Huntsville'          , 'HVL'],
             ['Kaysville'           , 'KAY'],
             ['Kearns'              , 'KMT'],
             ['Layton'              , 'LAY'],
             ['Lehi'                , 'LEH'],
             ['Lindon'              , 'LIN'],
             ['Magna'               , 'MMT'],
             ['Mapleton'            , 'MAP'],
             ['Marriott-Slaterville', 'MSL'],
             ['Midvale'             , 'MID'],
             ['Millcreek'           , 'MLC'],
             ['Murray'              , 'MUR'],
             ['North Ogden'         , 'NOG'],
             ['North Salt Lake'     , 'NSL'],
             ['Ogden'               , 'OGD'],
             ['Orem'                , 'ORE'],
             ['Payson'              , 'PAY'],
             ['Plain City'          , 'PLN'],
             ['Pleasant Grove'      , 'PGR'],
             ['Pleasant View'       , 'PVW'],
             ['Provo'               , 'PVO'],
             ['Riverdale'           , 'RVD'],
             ['Riverton'            , 'RVT'],
             ['Roy'                 , 'ROY'],
             ['Salem'               , 'SLM'],
             ['Salt Lake City'      , 'SLC'],
             ['Sandy'               , 'SAN'],
             ['Santaquin'           , 'SAQ'],
             ['Saratoga Springs'    , 'SAR'],
             ['South Jordan'        , 'SJC'],
             ['South Ogden'         , 'SOG'],
             ['South Salt Lake'     , 'SSL'],
             ['South Weber'         , 'SWE'],
             ['Spanish Fork'        , 'SFK'],
             ['Springville'         , 'SPV'],
             ['Sunset'              , 'SUN'],
             ['Syracuse'            , 'SYR'],
             ['Taylorsville'        , 'TAY'],
             ['Uintah'              , 'UIN'],
             ['Vineyard'            , 'VIN'],
             ['Washington Terrace'  , 'WTR'],
             ['West Bountiful'      , 'WBO'],
             ['West Haven'          , 'WHV'],
             ['West Jordan'         , 'WJC'],
             ['West Point'          , 'WPT'],
             ['West Valley City'    , 'WVC'],
             ['White City'          , 'WMT'],
             ['Woodland Hills'      , 'WDL'],
             ['Woods Cross'         , 'WCR']]

dfCommCode = pd.DataFrame(dCommCode, columns=['NAME', 'CommCode'])
dfCommCode

                NAME CommCode
0             Alpine      ALP
1               Alta      ALA
2      American Fork      AFK
3          Bluffdale      BDL
4          Bountiful      BTF
..               ...      ...
70        West Point      WPT
71  West Valley City      WVC
72        White City      WMT
73    Woodland Hills      WDL
74       Woods Cross      WCR

[75 rows x 2 columns]

In [78]:
sdfCommunitiesWithCommCode = pd.DataFrame.merge(sdfCommunities,dfCommCode,on='NAME',how='left')
display(sdfCommunitiesWithCommCode)
sdfCommunitiesWithCommCode = sdfCommunitiesWithCommCode[['CommCode','NAME','COUNTYNBR','Shape__Are','Shape__Len','SHAPE']]
display(sdfCommunitiesWithCommCode)

,NAME,COUNTYNBR,Shape__Are,Shape__Len,SHAPE,CommCode
0,South Ogden,29,1.789572e+07,29060.134519,"{'rings': [[[-111.97992602346, 41.186766152416...",SOG
1,Riverdale,29,2.106050e+07,26905.889774,"{'rings': [[[-111.992215188549, 41.19802376313...",RVD
2,Midvale,18,2.635270e+07,30626.207428,"{'rings': [[[-111.903409973671, 40.62872635266...",MID
3,Salt Lake City,18,5.038467e+08,168892.064318,"{'rings': [[[-111.805630303441, 40.71495811914...",SLC
4,Fairfield,25,1.162525e+08,55611.827949,"{'rings': [[[-112.101270895807, 40.28357933255...",FFD
...,...,...,...,...,...,...
70,North Ogden,29,3.467832e+07,55176.051031,"{'rings': [[[-111.971630901973, 41.34088283125...",NOG
71,Copperton,18,1.407033e+06,8080.141764,"{'rings': [[[-112.099341293017, 40.56229668163...",CMT
72,White City,18,3.930916e+06,18516.503459,"{'rings': [[[-111.862731075773, 40.58154895707...",WMT
73,Kearns,18,2.085713e+07,23112.195879,"{'rings': [[[-111.986605797098, 40.66756731570...",KMT
74,Magna,18,1.692021e+08,95438.739805,"{'rings': [[[-112.106196642377, 40.69164014067...",MMT

,CommCode,NAME,COUNTYNBR,Shape__Are,Shape__Len,SHAPE
0,SOG,South Ogden,29,1.789572e+07,29060.134519,"{'rings': [[[-111.97992602346, 41.186766152416..."
1,RVD,Riverdale,29,2.106050e+07,26905.889774,"{'rings': [[[-111.992215188549, 41.19802376313..."
2,MID,Midvale,18,2.635270e+07,30626.207428,"{'rings': [[[-111.903409973671, 40.62872635266..."
3,SLC,Salt Lake City,18,5.038467e+08,168892.064318,"{'rings': [[[-111.805630303441, 40.71495811914..."
4,FFD,Fairfield,25,1.162525e+08,55611.827949,"{'rings': [[[-112.101270895807, 40.28357933255..."
...,...,...,...,...,...,...
70,NOG,North Ogden,29,3.467832e+07,55176.051031,"{'rings': [[[-111.971630901973, 41.34088283125..."
71,CMT,Copperton,18,1.407033e+06,8080.141764,"{'rings': [[[-112.099341293017, 40.56229668163..."
72,WMT,White City,18,3.930916e+06,18516.503459,"{'rings': [[[-111.862731075773, 40.58154895707..."
73,KMT,Kearns,18,2.085713e+07,23112.195879,"{'rings': [[[-111.986605797098, 40.66756731570..."
74,MMT,Magna,18,1.692021e+08,95438.739805,"{'rings': [[[-112.106196642377, 40.69164014067..."

In [79]:
sdfCommunitiesWithCommCode.spatial.to_featureclass(strCommunitiesOut,sanitize_columns=False)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\Communities'

# Union with DataSets

In [15]:
deleteIfExists(os.path.join(strGDB,"UNIONED"))
arcpy.analysis.Union([strParcelsOut                       ,
                      strCommunitiesOut                   ,
                      strCentersOut                       ,
                      strTAZwithATOOut                    ,
                      strInterchangesOut_Cur  + "_Buffers",
                      strInterchangesOut_Fut  + "_Buffers",
                      strTransitOut_Lcl       + "_Buffers",
                      strTransitOut_BrtCur    + "_Buffers",
                      strTransitOut_BrtFut    + "_Buffers",
                      strTransitOut_LrtCur    + "_Buffers",
                      strTransitOut_LrtFut    + "_Buffers",
                      strTransitOut_CrtCur    + "_Buffers",
                      strTransitOut_CrtFut    + "_Buffers",
                      strChildCareOut         + "_Buffers",
                      strHealthCareOut        + "_Buffers",
                      strSchoolsOut_RegPub    + "_Buffers",
                      strSchoolsOut_HighEd    + "_Buffers",
                      strGroceryOut           + "_Buffers",
                      strCommunityCenterOut   + "_Buffers",
                      strPathsOut_Cur         + "_Buffers",
                      strPathsOut_Fut         + "_Buffers",
                      strATCycleTracksOut_Cur + "_Buffers",
                      strATCycleTracksOut_Fut + "_Buffers",
                      strQOZOut                           ,
                      strParkAccessibilityOut             ],
                     os.path.join(strGDB,"UNIONED"))

In [16]:
sdfUnioned = pd.DataFrame.spatial.from_featureclass(os.path.join(strGDB,"UNIONED"))

In [17]:
sdfUnioned.shape[0]

1736687

In [18]:
sdfUnioned.columns

Index(['OBJECTID', 'FID_Parcels', 'parcel_id', 'building_type', 'FID_Centers',
       'AreaName', 'AreaType', 'SHAPE_Leng', 'FID_TAZWithATOScores',
       'CO_TAZID', 'ATO_Auto_Score', 'ATO_Tran_Score',
       'FID_Interchanges_Buffers', 'dist_Interchanges',
       'FID_Interchanges_Future_Buffers', 'dist_Interchanges_Future',
       'FID_LocalBusStops_Buffers', 'dist_LocalBusStops',
       'FID_BRTStops_Buffers', 'dist_BRTStops', 'FID_BRTStops_Future_Buffers',
       'dist_BRTStops_Future', 'FID_LRTStops_Buffers', 'dist_LRTStops',
       'FID_LRTStops_Future_Buffers', 'dist_LRTStops_Future',
       'FID_CRTStops_Buffers', 'dist_CRTStops', 'FID_CRTStops_Future_Buffers',
       'dist_CRTStops_Future', 'FID_ChildCare_Buffers', 'dist_ChildCare',
       'FID_HealthCare_Buffers', 'dist_HealthCare',
       'FID_SchoolsRegPublic_Buffers', 'dist_SchoolsRegPublic',
       'FID_SchoolsHigherEd_Buffers', 'dist_SchoolsHigherEd',
       'FID_GroceryStores_Buffers', 'dist_GroceryStores',
       'FID_CommunityCenter_Buffers', 'dist_CommunityCenter',
       'FID_ATPaths_Buffers', 'dist_ATPaths', 'FID_ATPaths_Future_Buffers',
       'dist_ATPaths_Future', 'FID_ATCycleTracks_Buffers',
       'dist_ATCycleTracks', 'FID_ATCycleTracks_Future_Buffers',
       'dist_ATCycleTracks_Future', 'FID_UtahQualifiedOpportunityZones', 'QOZ',
       'SHAPE_Leng_1', 'FID_ParksAndOpenSpace', 'FID', 'FID_1', 'FacilityID',
       'SHAPE_Leng_12', 'FID_Communities', 'CommCode', 'NAME', 'COUNTYNBR',
       'Shape__Are', 'Shape__Len', 'SHAPE'],
      dtype='object')

In [19]:
#manually fix higher ed
sdfUnioned.loc[sdfUnioned['dist_SchoolsHigherEd']==0.5, 'dist_SchoolsHigherEd'] = 1.0

In [20]:


sdfUnionedFiltered = sdfUnioned[(sdfUnioned['FID_Parcels']!=-1) & (sdfUnioned['FID_Communities']!=-1)]
sdfUnionedFiltered.shape[0]

1566302

In [21]:
#sdfUnionedFiltered.spatial.to_featureclass(os.path.join(strGDB,"UNIONED_FILTERED"),sanitize_columns=False)

In [22]:
pd.set_option('display.max_rows', None)
display(sdfUnionedFiltered.groupby(['CommCode']).agg(COUNT=('OBJECTID','size')))
pd.set_option('display.max_rows', 10)

           COUNT
CommCode
AFK        45357
ALP        16316
BDL         7172
BTF        21721
CDF         3516
CEN         8196
CHL        10353
CLI        11560
CLR        11909
CMT          370
COT        17443
DRA        25395
EAG        55962
ELK         6593
FFD         3627
FRM        12835
FRR         4179
FRU         3270
GEN         4172
GOS         1462
HAR         3634
HER        18432
HGH        25417
HOL        17033
HOO         5457
KAY        16803
KMT        14407
LAY        36340
LEH        88081
LIN        18532
MAP        19560
MID        13292
MLC        29332
MMT        12570
MSL         3269
MUR        25208
NOG        10721
NSL         7928
OGD        44556
ORE       102878
PAY        25520
PGR        38071
PLN         5465
PVO        95132
PVW         4857
ROY        18035
RVD         4871
RVT        19867
SAN        46340
SAQ        18693
SAR        47253
SFK        46752
SJC        29992
SLC       101026
SLM        15895
SOG         9082
SPV        40608
SSL        14046
SUN         3116
SWE         4531
SYR        14445
TAY        23623
UIN         1117
VIN        13440
WBO         4054
WCR         5733
WDL         3227
WHV         8022
WJC        49646
WMT         2909
WPT         6073
WTR         4401
WVC        55602

In [23]:
#sdfParcelPartsIDsOnly = sdfUnionedFiltered[['OBJECTID','CommCode','Shape__Are', 'Shape__Len','SHAPE']]
#"ParcelPartsIDsOnly"

In [24]:
#myFCls = "UNIONED_WEBER_FILTERED"
#arcpy.AddField_management(os.path.join(strGDB,"UNIONED_FILTERED"), "UNIQ_ID", "LONG")
#dataDict = {}
#i = 1
#updateRows = arcpy.da.UpdateCursor(os.path.join(strGDB,"UNIONED_FILTERED"), ["OBJECTID", "UNIQ_ID"])
#for updateRow in updateRows:
#    if updateRow[0] not in dataDict:
#        dataDict[updateRow[0]] = i
#        i+=1
#    updateRow[1] = dataDict[updateRow[0]]
#    updateRows.updateRow(updateRow)
#del updateRow, updateRows

# create index
sdfUnionedFiltered = sdfUnionedFiltered.reset_index()
sdfUnionedFiltered = sdfUnionedFiltered.drop(columns=('index'))
sdfUnionedFiltered = sdfUnionedFiltered.reset_index()
sdfUnionedFiltered = sdfUnionedFiltered.rename(columns={'index':'UNIQ_ID'})
sdfUnionedFiltered

,UNIQ_ID,OBJECTID,FID_Parcels,parcel_id,building_type,FID_Centers,AreaName,AreaType,SHAPE_Leng,FID_TAZWithATOScores,...,FID_1,FacilityID,SHAPE_Leng_12,FID_Communities,CommCode,NAME,COUNTYNBR,Shape__Are,Shape__Len,SHAPE
0,0,2930,13863,14766.0,Governmental,-1,,,0.000000,-1,...,0,0,0.0,29,HOO,Hooper,29,4.024017e+08,115414.297228,"{""rings"": [[[402209.3937999997, 4560107.705600..."
1,1,2966,14611,15533.0,Governmental,-1,,,0.000000,-1,...,0,0,0.0,67,PVW,Pleasant View,29,3.222566e+07,33843.751421,"{""rings"": [[[418527.93769999966, 4577296.3585]..."
2,2,3006,21393,22540.0,Agriculture,-1,,,0.000000,-1,...,0,0,0.0,29,HOO,Hooper,29,4.024017e+08,115414.297228,"{""rings"": [[[402190.6593000004, 4556506.257999..."
3,3,3144,23583,25226.0,None,-1,,,0.000000,-1,...,0,0,0.0,67,PVW,Pleasant View,29,3.222566e+07,33843.751421,"{""rings"": [[[417853.13329999987, 4578114.2476]..."
4,4,3365,53920,56523.0,No Build,-1,,,0.000000,-1,...,0,0,0.0,4,SLC,Salt Lake City,18,5.038467e+08,168892.064318,"{""rings"": [[[428847.72250000015, 4519593.5866]..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566297,1566297,1736683,575027,580297.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0,0,0.0,69,PVO,Provo,25,1.966834e+08,118107.921172,"{""rings"": [[[444003.8855999997, 4454152.301000..."
1566298,1566298,1736684,575158,580430.0,Commons,4,Downtown Provo,Urban Center,30147.565276,2682,...,0,0,0.0,69,PVO,Provo,25,1.966834e+08,118107.921172,"{""rings"": [[[444003.8855999997, 4454152.301000..."
1566299,1566299,1736685,576706,582038.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0,0,0.0,69,PVO,Provo,25,1.966834e+08,118107.921172,"{""rings"": [[[444003.8855999997, 4454152.301000..."
1566300,1566300,1736686,576718,582051.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0,0,0.0,69,PVO,Provo,25,1.966834e+08,118107.921172,"{""rings"": [[[444003.8855999997, 4454152.301000..."
1566301,1566301,1736687,576793,582132.0,Retail,4,Downtown Provo,Urban Center,30147.565276,2682,...,0,0,0.0,69,PVO,Provo,25,1.966834e+08,118107.921172,"{""rings"": [[[444003.8855999997, 4454152.301000..."

In [25]:
# export to csv
#arcpy.conversion.TableToTable("UNIONED_WEBER_FILTERED", "E:\\GitHub\\Housing-Affordability-Weber-County\\intermediate", "unioned_weber_filtered.csv")

# DataFrame processing

In [26]:
# Centers Scores

strCenterColName = 'AreaType'

dfCenters = pd.DataFrame({'center_code':['CM'                 ,'CU'          ,'CC'         ,'CN'                 ],
                          'center_name':['Metropolitan Center','Urban Center','City Center','Neighborhood Center']})
display(dfCenters)

for index, row in dfCenters.iterrows():
    _cname = row['center_name']
    _ccode = row['center_code']
    print(_cname)
    
    sdfUnionedFiltered[_ccode] = 0
    
    sdfUnionedFiltered.loc[(sdfUnionedFiltered[strCenterColName]==_cname),_ccode] = 1
    
# sum for check
display(sdfUnionedFiltered[['CM','CU','CC','CN']].sum())
display(sdfUnionedFiltered[['CM','CU','CC','CN']].max())

  center_code          center_name
0          CM  Metropolitan Center
1          CU         Urban Center
2          CC          City Center
3          CN  Neighborhood Center

Metropolitan Center
Urban Center
City Center
Neighborhood Center

CM     5638
CU    35781
CC    53615
CN    15591
dtype: int64

CM    1
CU    1
CC    1
CN    1
dtype: int64

In [27]:
# ATO Scores
sdfUnionedFiltered['AA'] = sdfUnionedFiltered['ATO_Auto_Score']
sdfUnionedFiltered['AT'] = sdfUnionedFiltered['ATO_Tran_Score']

# sum for check
display(sdfUnionedFiltered[['AA','AT']].sum())
display(sdfUnionedFiltered[['AA','AT']].max())

AA    1.235543e+06
AT    4.732289e+05
dtype: float64

AA    1.0
AT    1.0
dtype: float64

In [28]:
# Transportation Scores

sdfUnionedFiltered['TT'] = 0
# Transit only has single buffers
# local bus get 1/2 score, all other gets full score
sdfUnionedFiltered.loc[ (sdfUnionedFiltered['FID_LocalBusStops_Buffers'  ]!=-1) ,'TT'] = 0.5
# local bus values are overwritten by other modes
sdfUnionedFiltered.loc[((sdfUnionedFiltered['FID_BRTStops_Buffers'       ]!=-1) |
                        (sdfUnionedFiltered['FID_BRTStops_Future_Buffers']!=-1) |
                        (sdfUnionedFiltered['FID_LRTStops_Buffers'       ]!=-1) |
                        (sdfUnionedFiltered['FID_LRTStops_Future_Buffers']!=-1) |
                        (sdfUnionedFiltered['FID_CRTStops_Buffers'       ]!=-1) |
                        (sdfUnionedFiltered['FID_CRTStops_Future_Buffers']!=-1)),'TT'] = 1


# Freeway Access
dfFreewayAccess = pd.DataFrame({'tempscore' :['TF1'                                    ,'TF2'                                    ],
                                'moe'       :['Interchanges_Buffers'                   ,'Interchanges_Future_Buffers'            ],
                                'fieldname' :[getLayerDistField(strInterchangesOut_Cur),getLayerDistField(strInterchangesOut_Fut)],
                                'smallest'  :[0.5                                      ,0.5                                      ]})
                                # smallest buffer
display(dfFreewayAccess)

# future

for index, row in dfFreewayAccess.iterrows():
    sdfUnionedFiltered[row['tempscore']] = 1 / (sdfUnionedFiltered[row['fieldname']] * (1 / row['smallest'])) # equation insures smallest buffer score is always 1
    sdfUnionedFiltered[row['tempscore']].replace([np.inf, -np.inf], 0, inplace=True)
    
sdfUnionedFiltered['TF'] = sdfUnionedFiltered[dfFreewayAccess['tempscore'].tolist()].values.max(1)

# Active Transportation Access 
dfATAccess = pd.DataFrame({'tempscore' :['TA1'                             ,'TA2'                             ,'TA3'                                     ,'TA4'                                     ],
                           'moe'       :['ATPaths_Buffers'                 ,'ATPaths_Future_Buffers'          ,'ATCycleTracks_Buffers'                   ,'ATCycleTracks_Future_Buffers'            ],
                           'fieldname' :[getLayerDistField(strPathsOut_Cur),getLayerDistField(strPathsOut_Fut),getLayerDistField(strATCycleTracksOut_Cur),getLayerDistField(strATCycleTracksOut_Fut)],
                           'smallest'  :[0.5                               ,0.5                               ,0.5                                       ,0.5                                       ]})
                            #multiplier is equal to 1 / the largest buffer distance                  
display(dfATAccess)

for index, row in dfATAccess.iterrows():
    sdfUnionedFiltered[row['tempscore']] = 1 / (sdfUnionedFiltered[row['fieldname']] * (1 / row['smallest'])) # equation insures smallest buffer score is always 1
    sdfUnionedFiltered[row['tempscore']].replace([np.inf, -np.inf], 0, inplace=True)

sdfUnionedFiltered['TA'] = sdfUnionedFiltered[dfATAccess['tempscore'].tolist()].values.max(1)

# sum for check
display(sdfUnionedFiltered[['TT','TF1','TF2','TF','TA']].sum())
display(sdfUnionedFiltered[['TT','TF1','TF2','TF','TA']].max())

  tempscore                          moe                 fieldname  smallest
0       TF1         Interchanges_Buffers         dist_Interchanges       0.5
1       TF2  Interchanges_Future_Buffers  dist_Interchanges_Future       0.5

  tempscore                           moe                  fieldname  smallest
0       TA1               ATPaths_Buffers               dist_ATPaths       0.5
1       TA2        ATPaths_Future_Buffers        dist_ATPaths_Future       0.5
2       TA3         ATCycleTracks_Buffers         dist_ATCycleTracks       0.5
3       TA4  ATCycleTracks_Future_Buffers  dist_ATCycleTracks_Future       0.5

TT      388296.50
TF1     275737.75
TF2      74707.25
TF      324964.50
TA     1388629.75
dtype: float64

TT     1.0
TF1    1.0
TF2    1.0
TF     1.0
TA     1.0
dtype: float64

In [29]:
sdfUnionedFiltered

,UNIQ_ID,OBJECTID,FID_Parcels,parcel_id,building_type,FID_Centers,AreaName,AreaType,SHAPE_Leng,FID_TAZWithATOScores,...,AT,TT,TF1,TF2,TF,TA1,TA2,TA3,TA4,TA
0,0,2930,13863,14766.0,Governmental,-1,,,0.000000,-1,...,0.000000,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
1,1,2966,14611,15533.0,Governmental,-1,,,0.000000,-1,...,0.000000,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
2,2,3006,21393,22540.0,Agriculture,-1,,,0.000000,-1,...,0.000000,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
3,3,3144,23583,25226.0,None,-1,,,0.000000,-1,...,0.000000,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
4,4,3365,53920,56523.0,No Build,-1,,,0.000000,-1,...,0.000000,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566297,1566297,1736683,575027,580297.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0.925136,1.0,0.25,0.0,0.25,1.0,0.0,0.0,0.0,1.0
1566298,1566298,1736684,575158,580430.0,Commons,4,Downtown Provo,Urban Center,30147.565276,2682,...,0.925136,1.0,0.25,0.0,0.25,1.0,0.0,0.0,0.0,1.0
1566299,1566299,1736685,576706,582038.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0.925136,1.0,0.25,0.0,0.25,1.0,0.0,0.0,0.0,1.0
1566300,1566300,1736686,576718,582051.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,0.925136,1.0,0.25,0.0,0.25,1.0,0.0,0.0,0.0,1.0
1566301,1566301,1736687,576793,582132.0,Retail,4,Downtown Provo,Urban Center,30147.565276,2682,...,0.925136,1.0,0.25,0.0,0.25,1.0,0.0,0.0,0.0,1.0

# Amenities Scores

In [30]:
#score multipliers - match to buffers above - so that max is always 1.0
#                                         Child Care                         Healthcare                          Grocery                          Community Center
dfAmenities = pd.DataFrame({'scorename' :['AC'                              ,'AH'                               ,'AG'                            ,'AM'                                    ],
                            'distfield' :[getLayerDistField(strChildCareOut),getLayerDistField(strHealthCareOut),getLayerDistField(strGroceryOut),getLayerDistField(strCommunityCenterOut)],
                            'smallest'  :[0.5                               ,0.5                                ,0.5                             ,0.5                                     ]})

display(dfAmenities)

for index, row in dfAmenities.iterrows():
    sdfUnionedFiltered[row['scorename']] = 1 / (sdfUnionedFiltered[row['distfield']] * (1 / row['smallest']))
    sdfUnionedFiltered[row['scorename']].replace([np.inf, -np.inf], 0, inplace=True)

# Education Access
dfEducation = pd.DataFrame({'tempscore' :['AE1'                                  ,'AE2'                                  ],
                            'moe'       :['SchoolsRegPublic_Buffers'             ,'SchoolsHigherEd_Buffers '             ],
                            'fieldname' :[getLayerDistField(strSchoolsOut_RegPub),getLayerDistField(strSchoolsOut_HighEd)],
                            'smallest'  :[0.5                                    ,1                                      ]})
                            # smallest buffer size

display(dfEducation)

for index, row in dfEducation.iterrows():
    sdfUnionedFiltered[row['tempscore']] = 1 / (sdfUnionedFiltered[row['fieldname']] * (1 / row['smallest'])) # equation insures smallest buffer score is always 1
    sdfUnionedFiltered[row['tempscore']].replace([np.inf, -np.inf], 0, inplace=True)

sdfUnionedFiltered['AE'] = sdfUnionedFiltered[dfEducation['tempscore'].tolist()].values.max(1)


# Parks and Open Space

sdfUnionedFiltered['AP'] = 0
    
sdfUnionedFiltered.loc[(sdfUnionedFiltered['FID_ParksAndOpenSpace']==1),'AP'] = 1


# sum for check
display(sdfUnionedFiltered[['AC','AH','AE1','AE2','AE','AG','AP','AM']].sum())
display(sdfUnionedFiltered[['AC','AH','AE1','AE2','AE','AG','AP','AM']].max())

  scorename             distfield  smallest
0        AC        dist_ChildCare       0.5
1        AH       dist_HealthCare       0.5
2        AG    dist_GroceryStores       0.5
3        AM  dist_CommunityCenter       0.5

  tempscore                       moe              fieldname  smallest
0       AE1  SchoolsRegPublic_Buffers  dist_SchoolsRegPublic       0.5
1       AE2  SchoolsHigherEd_Buffers    dist_SchoolsHigherEd       1.0

AC     664830.50
AH     417622.00
AE1    961533.00
AE2    217462.00
AE     994876.50
AG     692023.00
AP     700328.00
AM     445898.75
dtype: float64

AC     1.0
AH     1.0
AE1    1.0
AE2    1.0
AE     1.0
AG     1.0
AP     1.0
AM     1.0
dtype: float64

# Opportunity Zone

In [31]:
# Parks and Open Space

sdfUnionedFiltered['OZ'] = 0
    
sdfUnionedFiltered.loc[(sdfUnionedFiltered['FID_UtahQualifiedOpportunityZones']!=-1),'OZ'] = 1

# Building Code

In [32]:
dBuildingCodes= [
    ["AG","Agriculture"             ], 
    ["EM","Empty Buildable"         ],
    ["OS","Open Space Non-Buildable"],
    ["CH","Church"                  ],
    ["SF","Single Family Res"       ],
    ["MF","Multi Family Res"        ],
    ["GQ","Group Quarters"          ],
    ["GO","Governmental"            ],
    ["ED","Educational"             ],
    ["HE","Healthcare"              ],
    ["RE","Retail"                  ],
    ["OF","Office"                  ],
    ["IN","Industrial"              ],
    ["OT","Other"                   ],
    ["UT","Utilities"               ],
    ["NB","No Build"                ]
]

dfBuildingCodes = pd.DataFrame(dBuildingCodes, columns = ['BC','building_type'])
display(dfBuildingCodes)


sdfUnionedFilteredWithBC = pd.DataFrame.merge(sdfUnionedFiltered,dfBuildingCodes,on='building_type',how='left')
sdfUnionedFilteredWithBC['BC'] = sdfUnionedFilteredWithBC['BC'].fillna('NO')
sdfUnionedFilteredWithBC

    BC             building_type
0   AG               Agriculture
1   EM           Empty Buildable
2   OS  Open Space Non-Buildable
3   CH                    Church
4   SF         Single Family Res
..  ..                       ...
11  OF                    Office
12  IN                Industrial
13  OT                     Other
14  UT                 Utilities
15  NB                  No Build

[16 rows x 2 columns]

,UNIQ_ID,OBJECTID,FID_Parcels,parcel_id,building_type,FID_Centers,AreaName,AreaType,SHAPE_Leng,FID_TAZWithATOScores,...,AC,AH,AG,AM,AE1,AE2,AE,AP,OZ,BC
0,0,2930,13863,14766.0,Governmental,-1,,,0.000000,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,GO
1,1,2966,14611,15533.0,Governmental,-1,,,0.000000,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,GO
2,2,3006,21393,22540.0,Agriculture,-1,,,0.000000,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,AG
3,3,3144,23583,25226.0,None,-1,,,0.000000,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,NO
4,4,3365,53920,56523.0,No Build,-1,,,0.000000,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,NB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566297,1566297,1736683,575027,580297.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0,1,OF
1566298,1566298,1736684,575158,580430.0,Commons,4,Downtown Provo,Urban Center,30147.565276,2682,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0,1,NO
1566299,1566299,1736685,576706,582038.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0,1,OF
1566300,1566300,1736686,576718,582051.0,Office,4,Downtown Provo,Urban Center,30147.565276,2682,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0,1,OF
1566301,1566301,1736687,576793,582132.0,Retail,4,Downtown Provo,Urban Center,30147.565276,2682,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0,1,RE

In [33]:
sdfUnionedFilteredWithBC.columns

Index(['UNIQ_ID', 'OBJECTID', 'FID_Parcels', 'parcel_id', 'building_type',
       'FID_Centers', 'AreaName', 'AreaType', 'SHAPE_Leng',
       'FID_TAZWithATOScores', 'CO_TAZID', 'ATO_Auto_Score', 'ATO_Tran_Score',
       'FID_Interchanges_Buffers', 'dist_Interchanges',
       'FID_Interchanges_Future_Buffers', 'dist_Interchanges_Future',
       'FID_LocalBusStops_Buffers', 'dist_LocalBusStops',
       'FID_BRTStops_Buffers', 'dist_BRTStops', 'FID_BRTStops_Future_Buffers',
       'dist_BRTStops_Future', 'FID_LRTStops_Buffers', 'dist_LRTStops',
       'FID_LRTStops_Future_Buffers', 'dist_LRTStops_Future',
       'FID_CRTStops_Buffers', 'dist_CRTStops', 'FID_CRTStops_Future_Buffers',
       'dist_CRTStops_Future', 'FID_ChildCare_Buffers', 'dist_ChildCare',
       'FID_HealthCare_Buffers', 'dist_HealthCare',
       'FID_SchoolsRegPublic_Buffers', 'dist_SchoolsRegPublic',
       'FID_SchoolsHigherEd_Buffers', 'dist_SchoolsHigherEd',
       'FID_GroceryStores_Buffers', 'dist_GroceryStores',
       'FID_CommunityCenter_Buffers', 'dist_CommunityCenter',
       'FID_ATPaths_Buffers', 'dist_ATPaths', 'FID_ATPaths_Future_Buffers',
       'dist_ATPaths_Future', 'FID_ATCycleTracks_Buffers',
       'dist_ATCycleTracks', 'FID_ATCycleTracks_Future_Buffers',
       'dist_ATCycleTracks_Future', 'FID_UtahQualifiedOpportunityZones', 'QOZ',
       'SHAPE_Leng_1', 'FID_ParksAndOpenSpace', 'FID', 'FID_1', 'FacilityID',
       'SHAPE_Leng_12', 'FID_Communities', 'CommCode', 'NAME', 'COUNTYNBR',
       'Shape__Are', 'Shape__Len', 'SHAPE', 'CM', 'CU', 'CC', 'CN', 'AA', 'AT',
       'TT', 'TF1', 'TF2', 'TF', 'TA1', 'TA2', 'TA3', 'TA4', 'TA', 'AC', 'AH',
       'AG', 'AM', 'AE1', 'AE2', 'AE', 'AP', 'OZ', 'BC'],
      dtype='object')

In [34]:
sdfUnionedFiltered_Scores = sdfUnionedFilteredWithBC[['OBJECTID','UNIQ_ID','CommCode','COUNTYNBR','BC','OZ','CM','CU','CC','CN','AA','AT','TT','TF','TA','AC','AH','AE','AG','AP','AM','SHAPE','Shape__Are','Shape__Len']]
display(sdfUnionedFiltered_Scores)
display(sdfUnionedFiltered_Scores.describe())
#display(sdfUnionedFiltered_Scores.sum())

,OBJECTID,UNIQ_ID,CommCode,COUNTYNBR,BC,OZ,CM,CU,CC,CN,...,TA,AC,AH,AE,AG,AP,AM,SHAPE,Shape__Are,Shape__Len
0,2930,0,HOO,29,GO,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,"{'rings': [[[402209.3937999997, 4560107.705600...",4.024017e+08,115414.297228
1,2966,1,PVW,29,GO,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,"{'rings': [[[418527.93769999966, 4577296.3585]...",3.222566e+07,33843.751421
2,3006,2,HOO,29,AG,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,"{'rings': [[[402190.6593000004, 4556506.257999...",4.024017e+08,115414.297228
3,3144,3,PVW,29,NO,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,"{'rings': [[[417853.13329999987, 4578114.2476]...",3.222566e+07,33843.751421
4,3365,4,SLC,18,NB,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,"{'rings': [[[428847.72250000015, 4519593.5866]...",5.038467e+08,168892.064318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566297,1736683,1566297,PVO,25,OF,1,0,1,0,0,...,1.0,1.0,1.0,0.5,1.0,0,1.0,"{'rings': [[[444003.8855999997, 4454152.301000...",1.966834e+08,118107.921172
1566298,1736684,1566298,PVO,25,NO,1,0,1,0,0,...,1.0,1.0,1.0,0.5,1.0,0,1.0,"{'rings': [[[444003.8855999997, 4454152.301000...",1.966834e+08,118107.921172
1566299,1736685,1566299,PVO,25,OF,1,0,1,0,0,...,1.0,1.0,1.0,0.5,1.0,0,1.0,"{'rings': [[[444003.8855999997, 4454152.301000...",1.966834e+08,118107.921172
1566300,1736686,1566300,PVO,25,OF,1,0,1,0,0,...,1.0,1.0,1.0,0.5,1.0,0,1.0,"{'rings': [[[444003.8855999997, 4454152.301000...",1.966834e+08,118107.921172
1566301,1736687,1566301,PVO,25,RE,1,0,1,0,0,...,1.0,1.0,1.0,0.5,1.0,0,1.0,"{'rings': [[[444003.8855999997, 4454152.301000...",1.966834e+08,118107.921172

,OBJECTID,UNIQ_ID,OZ,CM,CU,CC,CN,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM,Shape__Are,Shape__Len
count,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06,1.566302e+06
mean,9.007182e+05,7.831505e+05,4.983905e-02,3.599561e-03,2.284425e-02,3.423031e-02,9.954019e-03,7.888283e-01,3.021313e-01,2.479065e-01,2.074724e-01,8.865658e-01,4.244587e-01,2.666293e-01,6.351754e-01,4.418196e-01,4.471219e-01,2.846825e-01,1.170435e+08,7.860440e+04
std,4.829830e+05,4.521526e+05,2.176124e-01,5.988829e-02,1.494069e-01,1.818203e-01,9.927206e-02,1.549708e-01,2.825385e-01,3.535876e-01,2.595530e-01,2.295215e-01,4.041859e-01,3.594077e-01,3.656647e-01,3.965116e-01,4.971962e-01,2.877280e-01,1.166516e+08,4.070559e+04
min,2.930000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.407033e+06,8.080142e+03
25%,4.867372e+05,3.915752e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.227040e-01,8.182118e-03,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,4.654612e+07,4.510288e+04
50%,8.989995e+05,7.831505e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.220489e-01,2.471518e-01,0.000000e+00,2.500000e-01,1.000000e+00,5.000000e-01,0.000000e+00,5.000000e-01,5.000000e-01,0.000000e+00,2.500000e-01,8.310520e+07,6.967324e+04
75%,1.313913e+06,1.174726e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.974273e-01,4.918644e-01,5.000000e-01,2.500000e-01,1.000000e+00,1.000000e+00,5.000000e-01,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e-01,1.301002e+08,1.026423e+05
max,1.736687e+06,1.566301e+06,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.038467e+08,1.688921e+05

In [35]:
# export final feature class
sdfUnionedFiltered_Scores.spatial.to_featureclass(os.path.join(strGDB, r"ParcelPartsWithScores"),sanitize_columns=False)

# DISSOLVE MANUALLY DONE IN ARCGIS PRO
# Parcel Parts With Scores
# dissolve fields: ['CommCode','COUNTYNBR','BC','OZ','CM','CU','CC','CN','AA','AT','TT','TF','TA','AC','AH','AE','AG','AP','AM']

c:\Users\bhereth\AppData\Local\ESRI\conda\envs\arcgispro-py3-billenv\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

'E:\\GitHub\\Housing-Suitability\\results\\HousingSuitability.gdb\\ParcelPiecesWithScores'

In [36]:
# delete layers that aren't needed anymore
deleteIfExists(strInterchangesOut_Cur  + "_Buffers")
deleteIfExists(strInterchangesOut_Fut  + "_Buffers")
deleteIfExists(strTransitOut_Lcl       + "_Buffers")
deleteIfExists(strTransitOut_BrtCur    + "_Buffers")
deleteIfExists(strTransitOut_BrtFut    + "_Buffers")
deleteIfExists(strTransitOut_LrtCur    + "_Buffers")
deleteIfExists(strTransitOut_LrtFut    + "_Buffers")
deleteIfExists(strTransitOut_CrtCur    + "_Buffers")
deleteIfExists(strTransitOut_CrtFut    + "_Buffers")
deleteIfExists(strChildCareOut         + "_Buffers")
deleteIfExists(strHealthCareOut        + "_Buffers")
deleteIfExists(strSchoolsOut_RegPub    + "_Buffers")
deleteIfExists(strSchoolsOut_HighEd    + "_Buffers")
deleteIfExists(strGroceryOut           + "_Buffers")
deleteIfExists(strCommunityCenterOut   + "_Buffers")
deleteIfExists(strPathsOut_Cur         + "_Buffers")
deleteIfExists(strPathsOut_Fut         + "_Buffers")
deleteIfExists(strATCycleTracksOut_Cur + "_Buffers")
deleteIfExists(strATCycleTracksOut_Fut + "_Buffers")

In [37]:
#sdfUnionedFiltered_Scores = pd.DataFrame.spatial.from_featureclass(os.path.join(strGDB, r"ParcelPiecesWithScores"))

In [38]:
dfCommCodeCat = sdfUnionedFiltered_Scores.groupby(['CommCode'],as_index=False).agg(OZ=('OZ','max'),
                                                                                   CM=('CM','max'),
                                                                                   CU=('CU','max'),
                                                                                   CC=('CC','max'),
                                                                                   CN=('CN','max'),
                                                                                   AA=('AA','max'),
                                                                                   AT=('AT','max'),
                                                                                   TT=('TT','max'),
                                                                                   TF=('TF','max'),
                                                                                   TA=('TA','max'),
                                                                                   AC=('AC','max'),
                                                                                   AH=('AH','max'),
                                                                                   AE=('AE','max'),
                                                                                   AG=('AG','max'),
                                                                                   AP=('AP','max'),
                                                                                   AM=('AM','max'))

dfCommCodeCat_melt = pd.melt(dfCommCodeCat, id_vars='CommCode', value_vars=['OZ','CM','CU','CC','CN','AA','AT','TT','TF','TA','AC','AH','AE','AG','AP','AM'], var_name='Cat', value_name='CatValue', col_level=None)

dfCommCodeCatWithValues = dfCommCodeCat_melt[dfCommCodeCat_melt['CatValue']>0].copy()
dfCommCodeCatWithValues.drop(columns=['CatValue'],inplace=True)
dfCommCodeValidCategories = dfCommCodeCatWithValues[~dfCommCodeCatWithValues['Cat'].str.startswith('OZ')]
dfCommCodeValidCategories = dfCommCodeCatWithValues.groupby(['CommCode'],as_index=False).agg(['unique'])
dfCommCodeValidCategories = dfCommCodeValidCategories.droplevel(level=0, axis=1)
dfCommCodeValidCategories = dfCommCodeValidCategories.reset_index()
dfCommCodeValidCategories = dfCommCodeValidCategories.rename(columns={'unique':'categories'})
dfCommCodeValidCategories['categories'] = [','.join(map(str, l)) for l in dfCommCodeValidCategories['categories']]
dfCommCodeValidCategories

   CommCode                                    categories
0       AFK        OZ,CC,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM
1       ALP                    AA,AT,TA,AC,AH,AE,AG,AP,AM
2       BDL        CU,CC,CN,AA,AT,TT,TF,TA,AC,AE,AG,AP,AM
3       BTF        CC,CN,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM
4       CDF                                   AA,TA,AE,AP
..      ...                                           ...
68      WJC     OZ,CC,CN,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM
69      WMT           CN,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM
70      WPT              CC,CN,AA,AT,TT,TA,AC,AH,AE,AG,AP
71      WTR           CC,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM
72      WVC  OZ,CU,CC,CN,AA,AT,TT,TF,TA,AC,AH,AE,AG,AP,AM

[73 rows x 2 columns]

In [39]:
dfCommCodeValidCenters = dfCommCodeCat_melt[dfCommCodeCat_melt['CatValue']>0].copy()
dfCommCodeValidCenters.drop(columns=['CatValue'],inplace=True)
dfCommCodeValidCenters = dfCommCodeValidCenters[dfCommCodeValidCenters['Cat'].str.startswith('C')]
dfCommCodeValidCenters = dfCommCodeValidCenters.groupby(['CommCode'],as_index=False).agg(['unique'])
dfCommCodeValidCenters = dfCommCodeValidCenters.droplevel(level=0, axis=1)
dfCommCodeValidCenters = dfCommCodeValidCenters.reset_index()
dfCommCodeValidCenters = dfCommCodeValidCenters.rename(columns={'unique':'centers'})
dfCommCodeValidCenters['centers'] = [','.join(map(str, l)) for l in dfCommCodeValidCenters['centers']]
dfCommCodeValidCenters

   CommCode   centers
0       AFK        CC
1       BDL  CU,CC,CN
2       BTF     CC,CN
3       CEN     CC,CN
4       CLI        CN
..      ...       ...
53      WJC     CC,CN
54      WMT        CN
55      WPT     CC,CN
56      WTR        CC
57      WVC  CU,CC,CN

[58 rows x 2 columns]

In [40]:
dfCommCodeCatWithOZ = sdfUnionedFiltered_Scores.groupby(['CommCode'],as_index=False).agg(OZ=('OZ','max'))
dfCommCodeCatWithOZ
dfCommCodeCatWithOZ.loc[dfCommCodeCatWithOZ['OZ']>0,'oppzones']='yes'
dfCommCodeCatWithOZ.loc[dfCommCodeCatWithOZ['OZ']==0,'oppzones']='no'
dfCommCodeCatWithOZ.drop(columns=['OZ'],inplace=True)
dfCommCodeCatWithOZ

   CommCode oppzones
0       AFK      yes
1       ALP       no
2       BDL       no
3       BTF       no
4       CDF       no
..      ...      ...
68      WJC      yes
69      WMT       no
70      WPT       no
71      WTR       no
72      WVC      yes

[73 rows x 2 columns]

In [41]:
dfCommunitiesForApp = sdfCommunitiesWithCommCode.copy()
dfCommunitiesForApp = dfCommunitiesForApp[['NAME','CommCode','COUNTYNBR']]
dfCommunitiesForApp = pd.DataFrame.merge(dfCommunitiesForApp,dfCommCodeCatWithOZ      ,on='CommCode',how='left')
dfCommunitiesForApp = pd.DataFrame.merge(dfCommunitiesForApp,dfCommCodeValidCenters   ,on='CommCode',how='left')
dfCommunitiesForApp = pd.DataFrame.merge(dfCommunitiesForApp,dfCommCodeValidCategories,on='CommCode',how='left')
dfCommunitiesForApp.rename(columns={'CommCode':'value','NAME':'label'},inplace=True)
dfCommunitiesForApp = dfCommunitiesForApp.sort_values(by=['label'])
dfCommunitiesForApp.to_json('communities.json',orient='records')
dfCommunitiesForApp

NameError: name 'sdfCommunitiesWithCommCode' is not defined